### Working Directory
1. Check working directory ( place where the files and data of Jupyter are stored):

%pwd

2. CHANGE WORKING DIRECTORY 

%cd ‘C:\abx\cvh\’

**or** 


Open 'Anaconda Prompt' and run: jupyter notebook --generate-config.


- This writes a file to C:\Users\username\.jupyter\jupyter_notebook_config. 


- Browse to the file location and open it in an Editor (Notepad ++)


- Search for the following line in the file: #c.NotebookApp.notebook_dir = ''


- Replace by c.NotebookApp.notebook_dir = ’C:/your/folder/’


- Remove the # at the beginning of the line to allow the line to execute


- Save and close the file

In [2]:
%cd ‘C:\abx\cvh\’

'C:\\Users\\julia'

In [23]:
print ("Hello")
print(1)
print ('1'+'1'+'fff')
print (1+1)

Hello
1
11fff
2

### Values and Types


A **value** is one of the basic things a program works with, like a letter or a number.

The values above are ***1, 2,3*** and ***“Hello, World!”***


These values belong to different types: 2 is an **integer**, and “Hello, World!” is a
**string**, so called because it contains a “string” of letters.

Strings are enclosed in quotation marks.


The print statement also works for integers. 


Python knows the difference between an integer number and a string.


For example “+” means “addition” if something is a number and “concatenate” if something is a string. 


Python knows what “type” everything is. 
Some operations are prohibited:


You cannot add integer "1” to a string


We can ask Python what type something is by using **the type() function**.

In [7]:
type(1)

int

In [9]:
type('hello')

str

In [7]:
k = 'nice'
type (k)

str

In [6]:
print('Hello' +1)

TypeError: can only concatenate str (not "int") to str

In [1]:
print(1+2)

3

In [2]:
"ni"+'ce'

'nice'

### Several Types of Numbers

Numbers have two main types

-  **Integers** are whole numbers:    -14, -2, 0, 1, 100, 401233


-  **Floating Point Numbers** have  decimal parts:  -2.5 , 0.0, 98.6, 14.0


There are other number types - they are variations on float and integer

In [11]:
y = 2
print(type(2))
print(type(y))

<class 'int'>
<class 'int'>

When you put an integer and floating point in an expression, the integer is implicitly converted to a float

You can control this with the built-in functions int() and float()

In [3]:
float(42)

42.0

In [37]:
x = float(42)
print(x)
type(x)

42.0

float

In [4]:
int(3.0)

3

In [13]:
i = 42
type(i)

int

In [14]:
f = float(i) ### i = 42, f=float(42)
print(f)
type(f)

42.0

float

In [6]:
a = 1
type(a)

int

In [25]:
a =1
b = str(a) ### b = str (1)
type(b)
print(b)
print(a+b)

1

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [29]:
a =8
type(a)
a = float(a)
print(a)
a = str(a)
print(a)
type(a)

8.0
8.0

str

In [9]:
b="1"
print(b)
print('1'+ b)  ### "1" and b - strings. That is why concatenation occurs, when two strings merge into one.

1
11

In [11]:
print (1+int(b)) # 1+1

2

### Numeric Expressions


'+'  Addition

'-'	Subtraction

'*'	Multiplication


'/'	Division


'**' Power


'%'	Remainder (always non-negative)

In [15]:
print(7 % 3) ### 7 - (3*2) остаток от целочисленного деления (remainder of integer division)

1

In [30]:
11%2

1

In [31]:
199%5

4

In [17]:
print(9.5 / 2)  
print(9.5 // 2) # '//' Special operation to stick with integers. It returns an integer answer,
              #rounded strictly down in case of fractional answers.

4.75
4.0

In [34]:
print(10/3)
print(10//3)

3.3333333333333335
3

In [35]:
139//7

19

### Order of Evaluation

When we string operators together - Python must know which one to do first

This is called “operator precedence”

Which operator “takes precedence” over the others?

x = 1 + 2 ** 3 / 4 * 5

Highest precedence rule to lowest precedence rule:

Parentheses are always respected

Exponentiation (raise to a power)

Multiplication, Division, and Remainder

Addition and Subtraction

Left to right

In [24]:
x = 1 + 2 ** 3 / 4 * 5
print (x)

11.0

### Converting between types

**int()**     converts anything to integer

**float()**    converts anything to floating point number

**str()**      converts anything to string

In [18]:
x = int('5')
print(x)
print(2 + int('5'))
print(str(5))
print(float(5))

5
7
5
5.0

In [40]:
print(type(str(5647)))

<class 'str'>

In [24]:
x = str(5647)
type(x)

str

In [42]:
a = str(1+3)  
print(a)
type(a)

4

str

### Task

Given are an integer 5 and a string '55':

1. convert a string into an integer
2. find the sum of both integers

In [43]:
a = 5
b = int('55')
print(a+b)

60

In [44]:
print(5+int('55'))

60

# Task

Given are two integers - 7 and 7
1. covert integers into strings
2. concatenate two strings

In [45]:
print(str(7)+str(7))

77

In [46]:
print (str (7+7))

14

### User Input

We can instruct Python to pause and read data from the user using **the input()  function.

!!! The input()  function returns a string !!!

In [47]:
name = input('Who are you? ')
print('Welcome,', name + '!')

Who are you? Julia
Welcome, Julia!

In [48]:
x = input()

fg

In [49]:
x = int(input())
type(x)

1

int

In [50]:
x = input()
type(x)

1

str

### Converting User Input
If we want to read a number from the user, we must convert it from a string to a number using a type conversion function.

In [51]:
eu = input ('Distance in km? ')
us = int(eu)/ 1.609344 
print ('Distance in miles', us)

Distance in km? 100
Distance in miles 62.13711922373339

In [52]:
eu = int(input ('Distance in km? '))
us = eu/ 1.609344 
print ('Distance in miles', us)

Distance in km? 100
Distance in miles 62.13711922373339

### Task

Write a program to prompt the user for hours and rate per hour to compute gross pay.

Enter Hours: 35

Enter Rate: 2.75 

Pay: 96.25

In [56]:
hours = int (input ('Enter Hours:'))
rate = float (input ('Enter Rate:'))
pay = hours*rate
print('Pay', pay)

Enter Hours:1
Enter Rate:1
Pay 1.0

In [57]:
hours = int (input ('Enter Hours:'))
rate = float (input ('Enter Rate:'))
print('Pay', hours*rate)

Enter Hours:10
Enter Rate:10.5
Pay 105.0

### Task

Write a program that asks the user from the keyboard his height in centimeters, his weight in kilograms (each indicator - a new line, in a new query) and returns the following message:

Body mass index: [value].

where  [value] is the calculated value of the body mass index.

The body mass index is calculated in the following way:

BMI=m/h2

where m is body weight in kilograms, h is height in meters.

In [64]:
height = float (input ("Enter your height in cm "))/100
w=float (input ("Enter your weight in kg "))
print('Body mass index', w/height**2)

Enter your height in cm 176
Enter your weight in kg 77.8
Body mass index 25.116219008264462

In [65]:
m = float(input('Write your weight in kilograms '))
h = float(input('Write your height in metres '))
value = m/h**2
print('Body mass index:', value)

Write your weight in kilograms 1
Write your height in metres 1
Body mass index: 1.0