In [1]:
x = 'banana'
x.capitalize()

'Banana'

In [3]:
x = 'BANANA'
x.casefold()

'banana'

In [19]:
x.upper()

'BANANA'

In [32]:
x = 'BaNaNa'
x.swapcase()

'bAnAnA'

In [8]:
x = 'banana'
x.count('a')

3

In [9]:
x = 'banana'
x.endswith('a')

True

In [31]:
x = 'banana'
x.startswith('B')

False

In [5]:
x = 'banana'
x.find('n')

2

In [6]:
x = 'banana'
x.index('n')

2

In [15]:
x = 'banana' ### characters and numbers
x.isalnum()

True

In [14]:
y = "!p"
y.isalnum()

False

In [16]:
x = "2p"
x.isalpha()

False

In [17]:
x = "Banana"
x.islower()

False

In [11]:
x = "Banana"
x.isupper()

True

In [26]:
x = ('man', 'cat')
print ('-'.join(x))

man-cat

In [30]:
x = "He likes dogs"
x = x.split()
print(x)

['He', 'likes', 'dogs']

In [25]:
x = "He likes dogs"
x.replace("dogs",'cats')

'He likes cats'

In [35]:
"cat"<'cats'

True

In [36]:
"cat">'Cat'

True

In [37]:
for i in 'cat':
    print(ord(i))

99
97
116

In [38]:
for i in 'Cat':
    print(ord(i))

67
97
116

In [8]:
x ='cat'  ####Return the “identity” of an object. This is an integer which is guaranteed to be unique and constant for this object during its lifetime.Implementation detail: This is the address of the object in memory.
y ='Cat'
x is y

False

In [9]:
print(id(x))
print(id(y))

1644892515056
1644966493104